argcomplete==1.12.2
backports.ssl-match-hostname==3.5.0.1
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.9.2
dxpy==0.306.0
enum34==1.1.10
futures==3.3.0
idna==2.10
importlib-metadata==2.1.1
ipaddress==1.0.23
packaging==20.9
pathlib2==2.3.5
psutil==5.8.0
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.23.0
scandir==1.10.0
six==1.15.0
typing==3.10.0.0
urllib3==1.24.1
websocket-client==0.53.0
zipp==1.2.0
